# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/

# GitHub token (NUNCA subir el token real)
deploy/.github-token
env/

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Arduino build artifacts
build/
*.elf
*.hex
*.bin

# Video output
*.mp4
*.avi
*.mkv

# Logs
*.log
